clientes/clientes.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           version="0.1" xml:lang="es">
    
    <xs:element name="Sede-central">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Sede codigo=A1234567" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="empleado" type="xs:string"/>
                            <xs:element name="fecha" type="xs:string"/>
                            <xs:element name="descripcion" type="xs:string"/>
                                <xs:element name="cliente" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="codigocliente" type="xs:string"/>
                                            <xs:element name="nViviendas" type="xs:string"/>
                                            <xs:element name="coste" type="xs:string"/>
                                            <xs:element name="Resumen" type="xs:string"/>
                                            <xs:element name="plazo" type="xs:integer"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>

                <xs:element name="Sede codigo=B1234567" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="empleado" type="xs:string"/>
                            <xs:element name="fecha" type="xs:string"/>
                            <xs:element name="descripcion" type="xs:string"/>
                                <xs:element name="cliente" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="codigocliente" type="xs:string"/>
                                            <xs:element name="nViviendas" type="xs:string"/>
                                            <xs:element name="coste" type="xs:string"/>
                                            <xs:element name="Resumen" type="xs:string"/>
                                            <xs:element name="plazo" type="xs:integer"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>

                <xs:element name="Sede codigo=C1234567" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="empleado" type="xs:string"/>
                            <xs:element name="fecha" type="xs:string"/>
                            <xs:element name="descripcion" type="xs:string"/>
                                <xs:element name="cliente" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="codigocliente" type="xs:string"/>
                                            <xs:element name="nViviendas" type="xs:string"/>
                                            <xs:element name="coste" type="xs:string"/>
                                            <xs:element name="Resumen" type="xs:string"/>
                                            <xs:element name="plazo" type="xs:integer"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>

                </xs:sequence>             
            </xs:complexType>
        </xs:element>
    </xs:schema>
